<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Vibin</title>
    <script src="https://unpkg.com/htmx.org@1.6.1"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</head>
<body>
    <div id="hello-header">
        <h1>Hello World!</h1>
        <p>Die folgenden Texte stehen zur Auswahl:</p>
    </div>
    <div id="item-list">
        {{items}}
    </div>
    <br/>
    <button hx-get="/list" hx-target="#item-list" hx-swap="innerHTML">Click me</button>
    <br/>
    <form
        hx-post="/name"
        hx-target="#hello-header"
        hx-swap="innerHTML">

        <input name="hello-input" id="hello-input" type="text" placeholder="Name" />
        <button type="submit">Update Name</button>
    </form>
</body>
</html>